# Glovo Fintech Assessment

### 1. Read the data

In [8]:
import pandas as pd
import numpy as np
import black

In [19]:
path = "~/Documents/Git/Fintech-Payments/data_sample.xlsx"  # Parameterize this path
df = pd.read_excel(path, sheet_name="Data sample city N weekly order")

### 2. Data Exploration and Preprocessing

In [21]:
df.head()

,id,final_status,store_address_id,customer_id,courier_id,vertical,is_food,transport,number_of_assignments,total_real_distance,activation_time_local,last_courier_assigned_time,courier_started_order_local,courier_enters_pickup_time_local,pickup_time_local,courier_enters_delivery_point_time_local,termination_time,Count,Total Time
0,53134335,DeliveredStatus,85260.0,18579597,20153483,WALL - Partner,True,BICYCLE,1,6.029,2019-07-13 13:04:44,2019-07-13 13:05:32,2019-07-13 13:06:49,2019-07-13 13:09:13,2019-07-13 13:28:45,2019-07-13 13:46:58,2019-07-13 13:59:49,NaN,55
1,53009545,DeliveredStatus,23517.0,11871195,20153483,WALL - Partner,True,BICYCLE,1,3.998,2019-07-12 20:06:29,2019-07-12 20:10:42,2019-07-12 20:11:02,2019-07-12 20:16:05,2019-07-12 20:23:07,2019-07-12 20:37:53,2019-07-12 20:43:01,NaN,36
2,53129297,DeliveredStatus,18300.0,1053786,20153483,WALL - Partner,True,BICYCLE,1,5.309,2019-07-13 12:14:58,2019-07-13 12:15:44,2019-07-13 12:23:40,2019-07-13 12:45:16,2019-07-13 12:50:09,2019-07-13 12:55:16,2019-07-13 12:59:23,NaN,44
3,53235752,CanceledStatus,85260.0,20466508,20153483,WALL - Partner,True,BICYCLE,1,6.429,2019-07-13 21:55:58,2019-07-13 22:24:58,2019-07-13 22:24:58,NaT,NaT,NaT,2019-07-13 22:25:15,NaN,29
4,53002671,DeliveredStatus,15912.0,16549489,20153483,WALL - Partner,True,BICYCLE,1,3.442,2019-07-12 19:40:13,2019-07-12 19:41:14,2019-07-12 19:42:34,2019-07-12 19:46:28,2019-07-12 19:56:59,2019-07-12 20:07:08,2019-07-12 20:10:37,NaN,30

In [23]:
df.describe()

,id,store_address_id,customer_id,courier_id,number_of_assignments,total_real_distance,Count,Total Time
count,2.471000e+03,2440.000000,2.471000e+03,2.471000e+03,2471.000000,2471.000000,0.0,2471.000000
mean,5.289264e+07,29271.174180,1.226381e+07,1.391151e+07,1.172805,5.045905,NaN,30.709429
std,3.454010e+05,21870.776931,6.560418e+06,4.934578e+06,0.480895,2.478414,NaN,13.129461
min,5.225996e+07,15727.000000,9.442500e+04,2.044461e+06,1.000000,0.708000,NaN,0.000000
25%,5.261935e+07,18300.000000,5.659130e+06,9.558769e+06,1.000000,3.342000,NaN,22.000000
50%,5.286277e+07,18300.000000,1.373506e+07,1.492411e+07,1.000000,4.560000,NaN,31.000000
75%,5.320484e+07,30640.000000,1.813984e+07,1.778752e+07,1.000000,6.132000,NaN,40.000000
max,5.347565e+07,90971.000000,2.062533e+07,2.055075e+07,6.000000,19.789000,NaN,59.000000

In [28]:
df.dtypes

id                                                   int64
final_status                                        object
store_address_id                                   float64
customer_id                                          int64
courier_id                                           int64
vertical                                            object
is_food                                               bool
transport                                           object
number_of_assignments                                int64
total_real_distance                                float64
activation_time_local                       datetime64[ns]
last_courier_assigned_time                  datetime64[ns]
courier_started_order_local                 datetime64[ns]
courier_enters_pickup_time_local            datetime64[ns]
pickup_time_local                           datetime64[ns]
courier_enters_delivery_point_time_local    datetime64[ns]
termination_time                            datetime64[ns]
Count                                              float64
Total Time                                           int64
dtype: object

In [31]:
df.isna().sum()

id                                             0
final_status                                   0
store_address_id                              31
customer_id                                    0
courier_id                                     0
vertical                                       0
is_food                                        0
transport                                      0
number_of_assignments                          0
total_real_distance                            0
activation_time_local                          0
last_courier_assigned_time                     0
courier_started_order_local                    0
courier_enters_pickup_time_local              61
pickup_time_local                             61
courier_enters_delivery_point_time_local      67
termination_time                               0
Count                                       2471
Total Time                                     0
dtype: int64

Drop Count feature as it only contains NaNs

In [32]:
df.drop(columns="Count", inplace=True)

In [33]:
df[df.store_address_id.isna()]

,id,final_status,store_address_id,customer_id,courier_id,vertical,is_food,transport,number_of_assignments,total_real_distance,activation_time_local,last_courier_assigned_time,courier_started_order_local,courier_enters_pickup_time_local,pickup_time_local,courier_enters_delivery_point_time_local,termination_time,Total Time
30,52617183,DeliveredStatus,NaN,16335546,14547224,QUIERO,False,BICYCLE,3,3.285,2019-07-10 12:52:40,2019-07-10 13:35:27,2019-07-10 13:35:27,2019-07-10 13:44:41,2019-07-10 13:47:25,2019-07-10 13:50:03,2019-07-10 13:52:21,59
147,52301469,DeliveredStatus,NaN,16335546,14917583,QUIERO,False,BICYCLE,1,2.782,2019-07-08 10:16:48,2019-07-08 10:17:08,2019-07-08 10:19:06,2019-07-08 10:28:15,2019-07-08 10:31:31,2019-07-08 10:34:05,2019-07-08 10:36:01,19
174,53391513,DeliveredStatus,NaN,14429168,15239021,QUIERO,False,MOTORBIKE,1,2.619,2019-07-14 19:14:32,2019-07-14 19:14:47,2019-07-14 19:15:06,2019-07-14 19:18:43,2019-07-14 19:20:57,2019-07-14 19:22:07,2019-07-14 19:24:03,9
296,52546884,DeliveredStatus,NaN,14017394,13082688,QUIERO,False,BICYCLE,1,1.347,2019-07-09 21:45:49,2019-07-09 21:56:51,2019-07-09 22:05:42,2019-07-09 21:51:27,2019-07-09 22:20:05,2019-07-09 22:24:37,2019-07-09 22:30:50,45
359,53040199,DeliveredStatus,NaN,156533,18771815,COURIER,True,CAR,2,5.677,2019-07-12 21:44:43,2019-07-12 21:46:56,2019-07-12 21:46:56,2019-07-12 21:54:22,2019-07-12 22:07:22,2019-07-12 22:16:48,2019-07-12 22:18:26,33
509,52868509,DeliveredStatus,NaN,14429168,15239021,QUIERO,False,MOTORBIKE,1,2.589,2019-07-11 22:03:29,2019-07-11 22:04:30,2019-07-11 22:04:43,2019-07-11 22:08:56,2019-07-11 22:16:07,2019-07-11 22:17:44,2019-07-11 22:20:21,16
577,53144017,DeliveredStatus,NaN,4419160,19090355,QUIERO,False,BICYCLE,1,3.273,2019-07-13 14:55:01,2019-07-13 14:55:23,2019-07-13 15:10:02,2019-07-13 15:13:52,2019-07-13 15:21:06,2019-07-13 15:27:40,2019-07-13 15:31:57,36
638,52678329,DeliveredStatus,NaN,7039760,17787524,QUIERO,False,BICYCLE,1,2.990,2019-07-10 20:06:52,2019-07-10 20:17:12,2019-07-10 20:48:52,2019-07-10 20:59:13,2019-07-10 21:19:20,2019-07-10 21:22:34,2019-07-10 21:29:38,22
696,52966136,DeliveredStatus,NaN,8553882,18830660,QUIERO,False,BICYCLE,1,2.332,2019-07-12 16:03:42,2019-07-12 16:04:37,2019-07-12 16:05:17,2019-07-12 16:10:39,2019-07-12 16:16:34,2019-07-12 16:18:46,2019-07-12 16:22:11,18
836,52522203,CanceledStatus,NaN,20373031,16327386,QUIERO,False,MOTORBIKE,1,6.273,2019-07-09 20:04:31,2019-07-09 20:04:55,2019-07-09 20:04:58,2019-07-09 20:06:09,2019-07-09 20:06:09,NaT,2019-07-09 20:46:44,42
841,53147236,CanceledStatus,NaN,20539057,16327386,QUIERO,False,MOTORBIKE,1,5.169,2019-07-13 14:26:38,2019-07-13 14:29:57,2019-07-13 14:30:00,2019-07-13 14:30:25,2019-07-13 14:30:25,NaT,2019-07-13 14:41:33,14
870,53196852,DeliveredStatus,NaN,2919827,9128251,QUIERO,True,MOTORBIKE,1,6.773,2019-07-13 20:00:04,2019-07-13 20:10:39,2019-07-13 20:27:33,2019-07-13 20:41:18,2019-07-13 20:47:19,2019-07-13 21:05:12,2019-07-13 21:06:55,6
928,53205045,CanceledStatus,NaN,8320768,16974425,QUIERO,False,BICYCLE,1,3.638,2019-07-13 20:14:57,2019-07-13 20:25:53,2019-07-13 20:39:34,NaT,NaT,NaT,2019-07-13 20:49:23,34
1032,52677871,DeliveredStatus,NaN,5510738,15239373,QUIERO,False,CAR,2,2.907,2019-07-10 20:05:03,2019-07-10 20:43:41,2019-07-10 20:43:41,2019-07-10 20:46:52,2019-07-10 20:51:33,2019-07-10 20:56:41,2019-07-10 20:58:15,53
1111,52463406,DeliveredStatus,NaN,17363054,8728852,QUIERO,False,MOTORBIKE,1,0.866,2019-07-09 12:46:38,2019-07-09 12:46:41,2019-07-09 12:46:55,2019-07-09 12:50:35,2019-07-09 12:57:58,2019-07-09 12:59:16,2019-07-09 13:00:41,14
1125,53319911,DeliveredStatus,NaN,8553882,8728852,QUIERO,False,MOTORBIKE,1,2.228,2019-07-14 11:35:26,2019-07-14 11:36:07,2019-07-14 11:36:34,2019-07-14 11:44:49,2019-07-14 11:44:49,2019-07-14 11:50:30,2019-07-14 11:53:49,18
1291,52395520,DeliveredStatus,NaN,7039760,14924108,QUIERO,False,BICYCLE,1,2.373,2019-07-08 21:48:04,2019-07-08 21:58:53,2019-07-08 21:59:25,2019-07-08 22:08:17,2019-07-08 22:20:16,2019-07-08 22:22:46,2019-07-08 22:29:57,41
1411,53181340,DeliveredStatus,NaN,16335546,9128251,QUIERO,False,MOTORBIKE,2,1.010,2019-07-13 18:21:56,2019-07-13 18:48:16,2019-07-13 18:48:48,2019-07-13 18:55:25,2019-07-13 18:53:39,2019-07-13 18:56:17,2019-07-13 18:59:14,37
1436,52649780,CanceledStatus,NaN,6171497,17723174,QUIERO,False,BICYCLE,1,3.901,2019-07-10 17:20:09,2019-07-10 17:30:24,2019-07-10 17:30:24,NaT,NaT,NaT,2019-07-10 17:50:15,30
1460,53418862,DeliveredStatus,NaN,14429168,13394859,QUIERO,False,BICYCLE,1,2.580,2019-07-14 20:43:10,2019-07-14 20:43:18,2019-07-14 20:43:53,2019-07-14 20:46:37,2019-07-14 20:50:39,2019-07-14 20:53:24,2019-07-14 20:56:23,13
1478,53147343,CanceledStatus,NaN,20539057,13529777,QUIERO,False,CAR,4,8.690,2019-07-13 14:27:18,2019-07-13 14:42:10,2019-07-13 14:42:10,NaT,NaT,NaT,2019-07-13 14:43:20,16
1599,53147016,CanceledStatus,NaN,20539057,19711951,QUIERO,False,MOTORBIKE,1,5.040,2019-07-13 14:25:23,2019-07-13 14:25:54,2019-07-13 14:26:05,NaT,NaT,NaT,2019-07-13 14:41:26,16
1637,53129368,DeliveredStatus,NaN,4116528,6212245,QUIERO,False,MOTORBIKE,1,10.550,2019-07-13 12:15:39,2019-07-13 12:15:43,2019-07-13 12:16:01,2019-07-13 12:27:46,2019-07-13 12:43:52,2019-07-13 12:57:59,2019-07-13 13:01:26,45
1639,53325510,DeliveredStatus,NaN,4116528,6212245,QUIERO,False,MOTORBIKE,1,8.874,2019-07-14 12:42:15,2019-07-14 12:43:16,2019-07-14 12:43:36,2019-07-14 13:01:08,2019-07-14 13:12:44,2019-07-14 13:19:56,2019-07-14 13:23:31,41
1662,53078462,DeliveredStatus,NaN,16248497,6212245,QUIERO,False,MOTORBIKE,1,0.985,2019-07-13 09:50:01,2019-07-13 10:00:25,2019-07-13 10:01:43,2019-07-13 10:18:53,2019-07-13 10:25:34,2019-07-13 10:25:41,2019-07-13 10:40:06,50
1675,53147702,CanceledStatus,NaN,20539057,6212245,QUIERO,False,MOTORBIKE,1,5.145,2019-07-13 14:29:31,2019-07-13 14:37:04,2019-07-13 14:38:19,NaT,NaT,NaT,2019-07-13 14:42:07,12
1676,53146844,CanceledStatus,NaN,20539057,6212245,QUIERO,False,MOTORBIKE,1,5.156,2019-07-13 14:24:19,2019-07-13 14:24:52,2019-07-13 14:25:16,NaT,NaT,NaT,2019-07-13 14:36:31,12
2091,52978152,CanceledStatus,NaN,6124041,2234219,QUIERO,False,MOTORBIKE,1,2.046,2019-07-12 17:32:18,2019-07-12 17:35:06,2019-07-12 17:35:21,NaT,NaT,NaT,2019-07-12 17:43:22,11
2286,53146714,CanceledStatus,NaN,20539057,8046350,QUIERO,False,MOTORBIKE,2,6.606,2019-07-13 14:23:34,2019-07-13 14:37:08,2019-07-13 14:37:08,NaT,NaT,NaT,2019-07-13 14:44:27,20
2455,53147537,CanceledStatus,NaN,20539057,19090546,QUIERO,False,CAR,1,17.887,2019-07-13 14:28:31,2019-07-13 14:28:58,2019-07-13 14:29:18,NaT,NaT,NaT,2019-07-13 14:42:46,14
2469,52977137,DeliveredStatus,NaN,2837755,16298640,QUIERO,False,BICYCLE,1,2.625,2019-07-12 17:24:07,2019-07-12 17:33:04,2019-07-12 17:33:23,2019-07-12 17:38:02,2019-07-12 17:43:37,2019-07-12 17:47:38,2019-07-12 17:51:10,27

In [36]:
df.isna().mean()

id                                          0.000000
final_status                                0.000000
store_address_id                            0.012546
customer_id                                 0.000000
courier_id                                  0.000000
vertical                                    0.000000
is_food                                     0.000000
transport                                   0.000000
number_of_assignments                       0.000000
total_real_distance                         0.000000
activation_time_local                       0.000000
last_courier_assigned_time                  0.000000
courier_started_order_local                 0.000000
courier_enters_pickup_time_local            0.024686
pickup_time_local                           0.024686
courier_enters_delivery_point_time_local    0.027115
termination_time                            0.000000
Total Time                                  0.000000
dtype: float64

In [41]:
df.vertical.value_counts()

WALL - Partner       2411
QUIERO                 31
WALL - NonPartner      29
Name: vertical, dtype: int64

In vertical there should only be 3 types of label. I assume that 'COURIER' is the same as 'QUIERO'.

In [40]:
df.loc[df.vertical == "COURIER", "vertical"] = "QUIERO"

### A.a Customer Delivery Time. How long the customer waited for the order

Let's assume that the time that the customer waited for their order was the time elapsed between the moment he ordered and the moment the order was delivered

In [27]:
df.final_status.value_counts(dropna=False)

DeliveredStatus    2389
CanceledStatus       82
Name: final_status, dtype: int64

In [68]:
df_delivered = df[df.final_status == "DeliveredStatus"]

In [69]:
df_delivered["Waiting_Time"] = (
    df_delivered.termination_time - df_delivered.activation_time_local
)

/var/folders/hs/t_th7f6j6tsb1fg2d7_808y80000gn/T/ipykernel_67886/1226807702.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_delivered['Waiting_Time'] = df_delivered.termination_time - df_delivered.activation_time_local

In [70]:
df_delivered.groupby("transport")["Waiting_Time"].mean()

transport
BICYCLE     0 days 00:37:12.304312449
CAR         0 days 00:41:18.310945273
MOTORBIKE   0 days 00:36:49.726912928
Name: Waiting_Time, dtype: timedelta64[ns]

In [71]:
df_delivered["hours"] = df_delivered["Waiting_Time"].dt.components["hours"]
df_delivered["minutes"] = df_delivered["Waiting_Time"].dt.components["minutes"]
df_delivered["seconds"] = df_delivered["Waiting_Time"].dt.components["seconds"]

df_delivered["Waiting_Time"] = pd.to_datetime(
    df_delivered[["hours", "minutes", "seconds"]].astype(str).agg(":".join, axis=1),
    format="%H:%M:%S",
)
df_delivered.drop(columns=["hours", "minutes", "seconds"], inplace=True)
df_delivered.head()

/var/folders/hs/t_th7f6j6tsb1fg2d7_808y80000gn/T/ipykernel_67886/1263668351.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_delivered['hours'] = df_delivered['Waiting_Time'].dt.components['hours']
/var/folders/hs/t_th7f6j6tsb1fg2d7_808y80000gn/T/ipykernel_67886/1263668351.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_delivered['minutes'] = df_delivered['Waiting_Time'].dt.components['minutes']
/var/folders/hs/t_th7f6j6tsb1fg2d7_808y80000gn/T/ipykernel_67886/1263668351.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_delivered['seconds'] = df_delivered['Waiting_Time'].dt.components['seconds']
/var/folders/hs/t_th7f6j6tsb1fg2d7_808y80000gn/T/ipykernel_67886/1263668351.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_delivered['Waiting_Time'] = pd.to_datetime(df_delivered[['hours', 'minutes', 'seconds']].astype(str).agg(':'.join, axis=1), format='%H:%M:%S')
/var/folders/hs/t_th7f6j6tsb1fg2d7_808y80000gn/T/ipykernel_67886/1263668351.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_delivered.drop(columns=['hours', 'minutes', 'seconds'], inplace=True)

,id,final_status,store_address_id,customer_id,courier_id,vertical,is_food,transport,number_of_assignments,total_real_distance,activation_time_local,last_courier_assigned_time,courier_started_order_local,courier_enters_pickup_time_local,pickup_time_local,courier_enters_delivery_point_time_local,termination_time,Total Time,Waiting_Time
0,53134335,DeliveredStatus,85260.0,18579597,20153483,WALL - Partner,True,BICYCLE,1,6.029,2019-07-13 13:04:44,2019-07-13 13:05:32,2019-07-13 13:06:49,2019-07-13 13:09:13,2019-07-13 13:28:45,2019-07-13 13:46:58,2019-07-13 13:59:49,55,1900-01-01 00:55:05
1,53009545,DeliveredStatus,23517.0,11871195,20153483,WALL - Partner,True,BICYCLE,1,3.998,2019-07-12 20:06:29,2019-07-12 20:10:42,2019-07-12 20:11:02,2019-07-12 20:16:05,2019-07-12 20:23:07,2019-07-12 20:37:53,2019-07-12 20:43:01,36,1900-01-01 00:36:32
2,53129297,DeliveredStatus,18300.0,1053786,20153483,WALL - Partner,True,BICYCLE,1,5.309,2019-07-13 12:14:58,2019-07-13 12:15:44,2019-07-13 12:23:40,2019-07-13 12:45:16,2019-07-13 12:50:09,2019-07-13 12:55:16,2019-07-13 12:59:23,44,1900-01-01 00:44:25
4,53002671,DeliveredStatus,15912.0,16549489,20153483,WALL - Partner,True,BICYCLE,1,3.442,2019-07-12 19:40:13,2019-07-12 19:41:14,2019-07-12 19:42:34,2019-07-12 19:46:28,2019-07-12 19:56:59,2019-07-12 20:07:08,2019-07-12 20:10:37,30,1900-01-01 00:30:24
5,53210586,DeliveredStatus,23518.0,16210716,20153483,WALL - Partner,True,BICYCLE,1,3.103,2019-07-13 20:34:10,2019-07-13 20:35:04,2019-07-13 20:36:19,2019-07-13 20:45:05,2019-07-13 20:49:33,2019-07-13 21:06:04,2019-07-13 21:08:21,34,1900-01-01 00:34:11

In [78]:
print(df_delivered.groupby("transport")["Waiting_Time"].mean())
print("=====================================")
print(df_delivered.groupby("vertical")["Waiting_Time"].mean())
print("=====================================")
print(df_delivered.groupby("is_food")["Waiting_Time"].mean())
print("=====================================")

transport
BICYCLE     1900-01-01 00:37:12.304312320
CAR         1900-01-01 00:41:18.310945280
MOTORBIKE   1900-01-01 00:36:49.726913024
Name: Waiting_Time, dtype: datetime64[ns]
=====================================
vertical
QUIERO              1900-01-01 00:36:33.800000000
WALL - NonPartner   1900-01-01 00:42:32.347826176
WALL - Partner      1900-01-01 00:37:44.354646272
Name: Waiting_Time, dtype: datetime64[ns]
=====================================
is_food
False   1900-01-01 00:35:47.044775936
True    1900-01-01 00:37:49.984496128
Name: Waiting_Time, dtype: datetime64[ns]
=====================================

In [79]:
df_delivered.groupby(["transport", "vertical", "is_food"])[
    "Waiting_Time"
].mean().to_frame()

                                                     Waiting_Time
transport vertical          is_food
BICYCLE   QUIERO            False   1900-01-01 00:38:14.999999744
          WALL - NonPartner False   1900-01-01 00:35:58.249999872
                            True    1900-01-01 00:42:12.285714432
          WALL - Partner    False   1900-01-01 00:31:28.894736640
                            True    1900-01-01 00:37:15.797478912
CAR       QUIERO            False   1900-01-01 00:53:12.000000000
                            True    1900-01-01 00:33:43.000000000
          WALL - NonPartner False   1900-01-01 00:57:15.666666752
          WALL - Partner    False   1900-01-01 00:42:14.249999872
                            True    1900-01-01 00:41:09.776081408
MOTORBIKE QUIERO            False   1900-01-01 00:29:09.375000064
                            True    1900-01-01 01:06:51.000000000
          WALL - NonPartner False   1900-01-01 00:49:20.500000000
                            True    1900-01-01 00:33:59.200000000
          WALL - Partner    False   1900-01-01 00:32:26.800000000
                            True    1900-01-01 00:36:54.795862016

### A.b Delivery Distance. Total distance traveled by the couriers

In [84]:
print(
    "Total amount of km traveled by couriers: ", df.total_real_distance.sum().round(2)
)

Total amount of km traveled by couriers:  12468.43

In [86]:
df.groupby(["transport"])["total_real_distance"].sum().round(2).to_frame()

           total_real_distance
transport
BICYCLE                5210.62
CAR                    2626.43
MOTORBIKE              4631.38

### A.c Reassignment Probability (whenever we need to assign an order to another courier after the first assignment it counts as a reassignment).

In [ ]:
df[df.number_of_assignments]

In [87]:
df.number_of_assignments.value_counts(dropna=False)

1    2129
2     274
3      56
4       9
6       2
5       1
Name: number_of_assignments, dtype: int64

In [99]:
print(
    "Probability of reassignment: ",
    (len(df[df.number_of_assignments > 1]) / len(df)) * 100,
)

Probability of reassignment:  13.840550384459732